html {
    font-family:sans-serif arial;
    scroll-behavior: smooth;
    height:100%;
    background: rgb(41,76,101);
    background: linear-gradient(52deg, rgba(41,76,101,1) 0%, rgba(40,101,144,1) 33%);
}
body {
    height:80%;
}

nav {
    position:fixed;
    width:100%;
    height: 50px;
    top:10px;
    left:0px;
    display:flex;
    justify-content:center;
    z-index:2;
}
nav  ul {
    list-style: none;
    display:flex;
    align-items: center;
    gap:30px;
}
nav li {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, transparent 20%, rgba(0,0,0,0.4));
}

.btn {
    transition: 0.3s;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor:pointer;
}

.btn:hover {
    transition:1s;
    background-color: #164764;
    padding-left:30px;
    padding-right:30px;
}
svg {
    position: absolute;
}
/********************************** Main Section ************************************/
.homeSection {
    transition:all 3s ease;
    position:absolute;
    border:0px;
    border-radius:20px;
    width:98%;
    height:0vh;
    margin-top:100px;
    display:flex;
    gap:20px;
    overflow: auto;
    background-color: #226e9b;
}
/***********************************Card ***************************/
.cardcontainer {
	position:relative;
	width: 250px;
	height:320px;
    /*-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));*/
}
.cardcontainer:after {

}
.theCard {
	position:absolute;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	transition: all 5s ease;
	background:yellow;
}
.theCard:hover {
	transform:rotateY(180deg);
}
.theFront {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility: hidden;
	background-image: url('../images/img2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
	color:#333;
	transform-style:preserve-3d;
}	
.theBack {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility: hidden;
	background: #fafafa;
	color:#333;
	transform-style:preserve-3d;
	transform:rotateY(180deg);
    
}
.transZ {
	transform:translateZ(50px);
}
/********************************** About Section ************************************/
.aboutSection {
    transition: all 3s ease;
    position:absolute;
    width:98%;
    height:0vh;
    border:0px;
    border-radius:20px;
    margin-top:100px;
    display:flex;
    overflow: hidden;
    background-color: #164764;
}
#main {
    width: 100%;
    height: auto;
    background: #164764;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image{
    background-image: url(../images/img6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    position: relative;
  }
  .image::before{
    content: '';
    position: absolute;
    top: 105%;
    left: 0;
    width: 350px;
    height: 200px;
    margin-left: -2px;
    background-image: url(../images/img6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleY(-1);
    opacity: 0.2;
    filter: url(#wavy);
  }
  .image::after{
    content: '';
    position: absolute;
    top: 105%;
    left: 0;
    width: 351px;
    height: 200px;
    background-image: linear-gradient(transparent, #16374a 70%);
  }
/********************************** Contact Section ************************************/
.contactSection {
    transition: all 3s ease;
    position: absolute;
    width:98%;
    height:0vh;
    border:0px;
    border-radius:20px;
    margin-top:100px;
    display:flex;
    overflow: hidden;
    background-color: #16374a;
}
/********************************** footer ************************************/
footer {
    width:100%;
    left:0px;
    height:50px;
    position:fixed;
    bottom: 0px;
    display: flex;
    justify-content: end;
    justify-items: center;
    z-index:2;
}
.icons {
    display:flex;
    gap:20px;
    align-items: center;
    margin-right:50px;
}
footer img {
    transition: all 2s ease;
    width:30px;
    height:30px;
}
footer img:hover {
    transition: all 2s ease;
    width:30px;
    height:30px;
    padding-bottom: 15px;
}

.footerText {
    margin-left:10px;
    margin-right:auto;
}