html {
    font-family:sans-serif arial;
    scroll-behavior: smooth;
    height:100%;
    background-color: #658da8;
}
body {
    height:80%;
    /*background-image: url(../images/sun-wallpapers.png);
    background-repeat: no-repeat;
    background-size: cover;*/
}
.glass {
    background: rgba(232, 221, 221, 0.29);
    border-radius: 0px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 0px solid rgba(36, 137, 204, 0.779);
}
nav {
    position:fixed;
    width:100%;
    height: 50px;
    top:10px;
    left:0px;
    display:flex;
    justify-content:center;
    z-index:2;
}
nav  ul {
    list-style: none;
    display:flex;
    align-items: center;
    gap:30px;
}
nav li {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn {
    transition: 0.3s;
    background-color: #658da8;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor:pointer;
}

.btn:hover {
    transition:1s;
    background-color: #164764;
    padding-left:30px;
    padding-right:30px;
}
/********************************** Main Page ************************************/
#mainPage {
    height:100%;
    width:100%;
    z-index:1;
}
.containerStart {
    transition:0.5s;
    margin-top:5%;
    margin-left:2%;
    width:0px;
    height:0px;
    overflow:hidden;
    animation: 1.5s ease-in containerFinal forwards;
}
@keyframes containerFinal {
    0% {
        width:1px;
        height:1px;
    }
    80% {
        width:90%;
        height:5px;
    }
    100% {
        width: 95%;
        height: 100%;
        margin-left: 2%;
        margin-top: 5%;
        z-index: 1;

    }
}
.containerClear {
    transition:0.5s;
    overflow: hidden;
    animation: 1.5s ease-in containerClearAnim forwards;
}
@keyframes containerClearAnim {
    0% {
        width:95%;
        height:100%;
        margin-left: 2%;
        margin-top: 5%;
    }
    90% {
        width:95%;
        height:5%;
    }
    100% {
        margin-left: 2%;
        margin-top: 5%;
        width: 0%;
        height: 0%;
        z-index: 1;

    }
}
.card1  {
    width:250px;
    height:250px;
    margin-left:45%;
    margin-top:5%;
    transition: all 5s ease;
    transform-style: preserve-3d;
    transform: 
        perspective(1000px)
        rotateY(var(--rotateY))
        rotateX(var(--rotateX));
        -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.card1:hover {
    transform: rotateY(180deg);
}
.card1Front {
    position: absolute;
    width:100%;
    height:100%;
    background-color: #658da8;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.card1Back {
    position: absolute;
    width:100%;
    height:100%;
    background-color: #658da8;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.tanslateZ{
    transform: translateZ(200px);
}
/********************************** About Page ************************************/
.aboutContainerStart {
    transition:0.5s;
    width:0px;
    height:0px;
    overflow:hidden;
    animation: 1.5s ease-in aboutContainerFinal forwards;
}
@keyframe aboutContainerFinal {
    0% {

    }
    50 {

    }
    100{
        position:absolute;
        margin-left:2%;
        margin-top:5%;
        width:100%;
        height:100%;
    }
}
.aboutContainerClear {
    width:0px;
    height:0px;
    overflow:hidden;
}
@keyframe aboutContaiderClear {
    0% {
        margin-left:2%;
        margin-top:5%;
        width:100%;
        height:100%;
    }
    50 {

    }
    100{

        width:0px;
        height:0px;
        overflow:hidden;
    }
}
/********************************** Contact Page ************************************/
/********************************** footer ************************************/
footer {
    width:100%;
    left:0px;
    height:50px;
    position:fixed;
    bottom: 0px;
    display: flex;
    justify-content: end;
    justify-items: center;
    z-index:2;
}
.icons {
    display:flex;
    gap:20px;
    align-items: center;
    margin-right:50px;
}
footer img {
    width:30px;
    height:30px;
}
.footerText {
    margin-left:10px;
    margin-right:auto;
}